Node-Red.txt
[{"id":"d8933ff9.81b4c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c5ff1e0d.732658","type":"inject","z":"d8933ff9.81b4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":100,"wires":[["77d2eea0.7fe8e8"]]},{"id":"43a3073a.00a55","type":"debug","z":"d8933ff9.81b4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":140,"wires":[]},{"id":"77d2eea0.7fe8e8","type":"function","z":"d8933ff9.81b4c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":200,"wires":[["43a3073a.00a55"]]}]
